<%- include("header") -%>
<h2>This is the About page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aspernatur
  quam beatae architecto dignissimos? Ipsam dolore a harum, asperiores sint
  laudantium doloremque veniam eos fugit nemo. Architecto quidem dolor
  laboriosam, nulla perspiciatis neque? Assumenda veniam veritatis beatae,
  repudiandae porro dolorum quae consequuntur, doloremque enim corporis amet
  deleniti sit quo eveniet, inventore numquam sint repellat officia quibusdam
  cum. Tempora laborum voluptatum, quibusdam vitae ipsam explicabo laudantium
  iusto facilis soluta velit provident doloribus eum mollitia in repudiandae
  maxime est ut quasi quae officiis nihil quas quia repellat inventore.
  Distinctio tempore eveniet veniam ullam explicabo non nostrum fugit assumenda?
  Earum praesentium eligendi, vitae omnis consequuntur delectus quis animi
  corporis corrupti, obcaecati magnam aliquid minima error repudiandae impedit
  dicta amet voluptatibus. Suscipit, alias recusandae voluptatibus consectetur
  molestias deserunt soluta rerum similique accusantium deleniti, quo animi
  incidunt numquam saepe eaque. Vel error hic amet obcaecati delectus a pariatur
  consequuntur voluptas quaerat nobis iste, beatae molestias commodi odit fugiat
  nulla corrupti unde. Atque nihil dignissimos neque odio optio aliquid
  consectetur quis velit quod officiis, harum deserunt accusantium error saepe
  magnam! Eos, praesentium. Ipsum ducimus eligendi, doloribus inventore sequi
  harum delectus assumenda accusantium officiis omnis quidem rem soluta et
  blanditiis consequuntur ipsam magnam numquam hic dolorem quas excepturi quis
  explicabo quisquam tempora. Veniam iure, voluptates, non necessitatibus earum
  ipsum saepe dignissimos blanditiis officia autem id, officiis ullam sed
  dolores accusantium nemo voluptas culpa labore repudiandae perferendis
  excepturi. Excepturi nobis suscipit dignissimos mollitia esse illo inventore,
  repellendus consequatur, natus unde, cumque odio sed itaque amet facere fuga!
  Magnam accusamus sequi suscipit fugiat numquam dicta quae, a autem doloribus
  officiis obcaecati harum aliquid eum, ut placeat ratione quibusdam soluta
  omnis! Autem placeat debitis error maxime. Ducimus optio ipsum nobis numquam?
  Nemo delectus ratione eos, vel numquam, ab eaque quod suscipit fuga qui
  reiciendis voluptatem natus saepe eligendi magnam ad rem eius? Dicta explicabo
  rerum recusandae voluptate? Porro aliquid nihil numquam repudiandae
  praesentium maxime ut amet sint, voluptate autem expedita! Atque, est
  voluptatem. Sit, facilis? Consequuntur libero beatae minus omnis aut error.
  Quae natus minima quis quos magni sit doloribus laboriosam ab id iure est
  corrupti ullam, laudantium perferendis, dolor sint eaque adipisci corporis
  praesentium harum sunt pariatur rem. Illo voluptatibus minus dolor incidunt
  facilis praesentium ipsam sit tempora quia ipsum autem magnam cum, rem
  voluptatum culpa quas laudantium? Quibusdam libero culpa pariatur modi, eaque
  expedita earum natus cupiditate sit delectus laborum harum vel hic. Voluptate
  vitae cum dolor corrupti iure itaque placeat quidem deleniti eos similique
  saepe odit obcaecati, ex voluptatum illum molestiae fugit laboriosam
  perferendis, cumque odio aliquam. Officiis eaque voluptas cupiditate commodi.
  Enim cumque quas nesciunt, nostrum error tenetur dignissimos numquam
  asperiores quis quaerat possimus ipsam officiis in adipisci optio maiores
</p>
<%- include("footer") -%>
